body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    margin: 20px;
}

h1 {
    margin: 0 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    width: 200%; /* 길이를 2배로 늘림 */
    margin-bottom: 10px; /* 검색 버튼과의 간격 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: blue; /* 파란색 배경 */
    color: white; /* 흰색 텍스트 */
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkblue; /* 호버 시 어두운 파란색 */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }

    input[type="text"] {
        width: 100%;
        margin-top: 10px;
    }
}
